<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Workshop</title>
</head>
<body>
    <h1>Student Details</h1>
    <ul>
        <table border="3">
            {% for student in students %}
            <tr>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.gender}}</td>

            </tr>
            {% endfor %}
        </table>
        <form method="post">
            {% csrf_token %}
            <label for="first_name">First name:</label>
    <input type="text" id="first_name" name="first_name"><br><br>
    <label for="last_name">Last name:</label>
    <input type="text" id="last_name" name="last_name"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender"><br><br>
    <input type="submit" value="Submit">
    </form>
    </ul>    
</body>
</html>